<%- include('./common/header.ejs') %>
<main class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
    <h1 class="mb-4 is-size-1 has-text-weight-bold">404</h1>
    <img src="public/downloads/541ce56084e3dbdf541ff20d82db1508.gif" alt=""/>
</main>
<%- include('./common/footer.ejs') %>
