<%- include('./common/header.ejs') %>
<main class="is-flex is-justify-content-center is-align-items-center is-justify-content-space-around">
    <iframe src="https://giphy.com/embed/xT1XGzXhVgWRLN1Cco" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <img src="public/downloads/ermite-megash-chat-qui-code.gif" alt="">
    <p>Mais apparement certains humain n'y arrive pas #Philo</p>
</main>
<%- include('./common/footer.ejs') %>
