        <footer class="has-background-primary has-text-white py-2 px-4">
            <p>Caroline Fassot - MyDigitalSchool Angers - Bachelor Concepteur Développeur d'Application</p>
        </footer>
    </body>
</html>
