<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-with, initial-scale=1.0, shrink-to-fit=no">
	<title>ExpressJS Carouline Fassot</title>
	<link rel="stylesheet" href="./public/css/style.css">
	<link rel="icon" href="./public/favicon.ico" />
</head>
<body class="is-fullheight">
	<header class="px-4 has-text-white">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start my-auto">
					<h1>Express js - Carouline</h1>
				</div>
				<ul class="navbar-end">
					<li class="navbar-item">
						<a href="/">Accueil</a>
					</li>
					<li class="navbar-item">
						<a href="/login">Connexion</a>
					</li>
					<li class="navbar-item">
						<a href="/etage/2/chambre/3">Page dynamique</a>
					</li>
					<li class="navbar-item">
						<a href="/download">Téléchargement</a>
					</li>
					<li class="navbar-item">
						<a href="/gif">Gif</a>
					</li>
					<li class="navbar-item">
						<a href="/chat">Chat</a>
					</li>
					<li class="navbar-item">
						<a href="/404">Page error</a>
					</li>
				</ul>
			</div>
		</nav>

	</header>
